.wrapper {
    padding: 0px 10px;
    height: 35px;
    line-height: 35px;
    display: inline-block;
    font-size: 12px;

    border-radius: 3px;
    border: none;
    outline: none;
    text-transform: uppercase;
    border: 1px solid transparent;

    color: #fff;
    cursor: pointer;
}

.primary {
    background-color: var(--color-red);
}

.grey {
    background-color: #545457;
}

.outline {
    background-color: #fff;
    color: var(--color-red);
    border: 1px solid var(--color-red);
}

// size

.large {
    line-height: unset;
    height: unset;
    padding: 10px;
    font-size: 16px;
}
