.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
}

.content {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
    width: 300px;
    background-color: #fff;
}

// close btn
.close-btn {
    position: absolute;
    top: 0;
    right: -56px;
    padding: 23px;

    background-color: #000;
    color: #fff;
    font-size: 1.6rem;
    cursor: pointer;
}

.header {
    color: #000;
    font-size: 18px;
    padding: 18px 15px;
    background: rgba(204, 204, 204, 0.64);
    margin-bottom: 10px;
}

// nav img
.nav {
    display: grid;
    grid-template-columns: 50% 50%;
}

.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;

    &:first-child {
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }

    &:nth-child(2) {
        border-bottom: 1px solid #ccc;
    }

    &:nth-child(3) {
        border-right: 1px solid #ccc;
    }
}

.nav-img {
    img {
        height: 60px;
    }
}

.nav-title {
    font-size: 14px;
    color: #000;
    margin-top: -6px;
}

// menu

.menu {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.menu-link {
    text-transform: uppercase;
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid #9e9e9e6b;
}

// action
.action {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ccc;
    padding-top: 3px;
}

.action-item {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    span {
        color: var(--color-red);
        font-size: 1.7rem;
    }

    p {
        font-size: 13px;
        color: #000;
        margin-top: 2px;
    }

    &:first-child {
        border-right: 1px solid #ccc;
    }
}
